@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
/* ====================
    * VARIABLES *
==================== */
:root {
  --font-body: 'Poppins', sans-serif;
  --font-title: 'Poppins', sans-serif;
  --primary-color: #FF6900;
  --disable-text-color: #74788D;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #f5f5f5;
  --light-gray-color: #f1f1f1;
  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #d4d4d4;
  --grey-400: #a3a3a3;
  --grey-500: #737373;
  --grey-600: #525252;
  --grey-700: #404040;
  --grey-800: #262626;
  --grey-900: #171717;
  --grey-1000: #090909;
}

/* =========================
    * GENERAL VARIABLES *
========================== */
body {
  /* transition: all .7s ease; */
  --bg-primary: #fff;
  --bg-secondary: var(--white-color);
  --dropdown: var(--grey-100);
  --border-color: #ecf0f3;

  --text-color-primary: var(--grey-600);
  --text-color-secondary: var(--grey-700);
  --fill-color: #000000;
}
/* body.dark-theme {
  transition: all 0.7s ease;
  --bg-primary: var(--dt-darker);
  --bg-secondary: var(--dt-background);
  --dropdown: var(--dt-darkest);
  --border-color: var(--dt-background);
  --text-color-primary: var(--grey-400);
  --text-color-secondary: var(--grey-500);
  --fill-color: var(--white-color);
} */

/* ========================
    * GENERAL STYLES *
========================= */

/* button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;} */

:focus {
  outline: none;
}
/* ::selection{color: #fff !important;background-color: var(--primary-color)!important;} */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: var(--bg-secondary);
}
::-webkit-scrollbar-thumb {
  background-color: #eff3f5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
select:disabled,
textarea:disabled {
  background: var(--border-color)!important;
  cursor: default;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  font-family: var(--font-body) !important;
  color: var(--text-color-primary) !important;
  height: 100vh;
}

/* ===================
    * FUENTES *
==================== */

/* ===================
    * UTILS *
==================== */
.icon-lock{
  width: 20px;
  height: 20px;
  display: block;
  background: no-repeat center center;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 21C1.45 21 0.979333 20.8043 0.588 20.413C0.196 20.021 0 19.55 0 19V9C0 8.45 0.196 7.979 0.588 7.587C0.979333 7.19567 1.45 7 2 7H3V5C3 3.61667 3.48767 2.43733 4.463 1.462C5.43767 0.487333 6.61667 0 8 0C9.38333 0 10.5627 0.487333 11.538 1.462C12.5127 2.43733 13 3.61667 13 5V7H14C14.55 7 15.021 7.19567 15.413 7.587C15.8043 7.979 16 8.45 16 9V19C16 19.55 15.8043 20.021 15.413 20.413C15.021 20.8043 14.55 21 14 21H2ZM8 16C8.55 16 9.021 15.8043 9.413 15.413C9.80433 15.021 10 14.55 10 14C10 13.45 9.80433 12.979 9.413 12.587C9.021 12.1957 8.55 12 8 12C7.45 12 6.97933 12.1957 6.588 12.587C6.196 12.979 6 13.45 6 14C6 14.55 6.196 15.021 6.588 15.413C6.97933 15.8043 7.45 16 8 16ZM5 7H11V5C11 4.16667 10.7083 3.45833 10.125 2.875C9.54167 2.29167 8.83333 2 8 2C7.16667 2 6.45833 2.29167 5.875 2.875C5.29167 3.45833 5 4.16667 5 5V7Z' fill='%2374788D'/%3E%3C/svg%3E%0A");
}

.icon-dns-secondary{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_785' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_785)'%3E%3Cpath d='M7.5 6C7.08333 6 6.72933 6.146 6.438 6.438C6.146 6.72933 6 7.08333 6 7.5C6 7.91667 6.146 8.27067 6.438 8.562C6.72933 8.854 7.08333 9 7.5 9C7.91667 9 8.27067 8.854 8.562 8.562C8.854 8.27067 9 7.91667 9 7.5C9 7.08333 8.854 6.72933 8.562 6.438C8.27067 6.146 7.91667 6 7.5 6ZM7.5 16C7.08333 16 6.72933 16.146 6.438 16.438C6.146 16.7293 6 17.0833 6 17.5C6 17.9167 6.146 18.2707 6.438 18.562C6.72933 18.854 7.08333 19 7.5 19C7.91667 19 8.27067 18.854 8.562 18.562C8.854 18.2707 9 17.9167 9 17.5C9 17.0833 8.854 16.7293 8.562 16.438C8.27067 16.146 7.91667 16 7.5 16ZM4 3H20C20.2833 3 20.5207 3.09567 20.712 3.287C20.904 3.479 21 3.71667 21 4V11C21 11.2833 20.904 11.5207 20.712 11.712C20.5207 11.904 20.2833 12 20 12H4C3.71667 12 3.47933 11.904 3.288 11.712C3.096 11.5207 3 11.2833 3 11V4C3 3.71667 3.096 3.479 3.288 3.287C3.47933 3.09567 3.71667 3 4 3ZM4 13H20C20.2833 13 20.5207 13.0957 20.712 13.287C20.904 13.479 21 13.7167 21 14V21C21 21.2833 20.904 21.5207 20.712 21.712C20.5207 21.904 20.2833 22 20 22H4C3.71667 22 3.47933 21.904 3.288 21.712C3.096 21.5207 3 21.2833 3 21V14C3 13.7167 3.096 13.479 3.288 13.287C3.47933 13.0957 3.71667 13 4 13Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}
/* primary color */
.icon-dns-primary{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_306' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_306)'%3E%3Cpath d='M7.5 6C7.08333 6 6.72933 6.146 6.438 6.438C6.146 6.72933 6 7.08333 6 7.5C6 7.91667 6.146 8.27067 6.438 8.562C6.72933 8.854 7.08333 9 7.5 9C7.91667 9 8.27067 8.854 8.562 8.562C8.854 8.27067 9 7.91667 9 7.5C9 7.08333 8.854 6.72933 8.562 6.438C8.27067 6.146 7.91667 6 7.5 6ZM7.5 16C7.08333 16 6.72933 16.146 6.438 16.438C6.146 16.7293 6 17.0833 6 17.5C6 17.9167 6.146 18.2707 6.438 18.562C6.72933 18.854 7.08333 19 7.5 19C7.91667 19 8.27067 18.854 8.562 18.562C8.854 18.2707 9 17.9167 9 17.5C9 17.0833 8.854 16.7293 8.562 16.438C8.27067 16.146 7.91667 16 7.5 16ZM4 3H20C20.2833 3 20.5207 3.09567 20.712 3.287C20.904 3.479 21 3.71667 21 4V11C21 11.2833 20.904 11.5207 20.712 11.712C20.5207 11.904 20.2833 12 20 12H4C3.71667 12 3.47933 11.904 3.288 11.712C3.096 11.5207 3 11.2833 3 11V4C3 3.71667 3.096 3.479 3.288 3.287C3.47933 3.09567 3.71667 3 4 3ZM5 5V10H19V5H5ZM4 13H20C20.2833 13 20.5207 13.0957 20.712 13.287C20.904 13.479 21 13.7167 21 14V21C21 21.2833 20.904 21.5207 20.712 21.712C20.5207 21.904 20.2833 22 20 22H4C3.71667 22 3.47933 21.904 3.288 21.712C3.096 21.5207 3 21.2833 3 21V14C3 13.7167 3.096 13.479 3.288 13.287C3.47933 13.0957 3.71667 13 4 13ZM5 15V20H19V15H5Z' fill='%23FF6900'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-account-balance-primary{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_808' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_808)'%3E%3Cpath d='M16 13.5C16.4333 13.5 16.7917 13.3583 17.075 13.075C17.3583 12.7917 17.5 12.4333 17.5 12C17.5 11.5667 17.3583 11.2083 17.075 10.925C16.7917 10.6417 16.4333 10.5 16 10.5C15.5667 10.5 15.2083 10.6417 14.925 10.925C14.6417 11.2083 14.5 11.5667 14.5 12C14.5 12.4333 14.6417 12.7917 14.925 13.075C15.2083 13.3583 15.5667 13.5 16 13.5ZM5 21C4.45 21 3.979 20.8043 3.587 20.413C3.19567 20.021 3 19.55 3 19V5C3 4.45 3.19567 3.979 3.587 3.587C3.979 3.19567 4.45 3 5 3H19C19.55 3 20.021 3.19567 20.413 3.587C20.8043 3.979 21 4.45 21 5V7.5H19V5H5V19H19V16.5H21V19C21 19.55 20.8043 20.021 20.413 20.413C20.021 20.8043 19.55 21 19 21H5ZM13 17C12.45 17 11.9793 16.8043 11.588 16.413C11.196 16.021 11 15.55 11 15V9C11 8.45 11.196 7.979 11.588 7.587C11.9793 7.19567 12.45 7 13 7H20C20.55 7 21.021 7.19567 21.413 7.587C21.8043 7.979 22 8.45 22 9V15C22 15.55 21.8043 16.021 21.413 16.413C21.021 16.8043 20.55 17 20 17H13ZM20 15V9H13V15H20Z' fill='%23FF6900'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-account-balance-secondary{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_314' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_314)'%3E%3Cpath d='M16 13.5C16.4333 13.5 16.7917 13.3583 17.075 13.075C17.3583 12.7917 17.5 12.4333 17.5 12C17.5 11.5667 17.3583 11.2083 17.075 10.925C16.7917 10.6417 16.4333 10.5 16 10.5C15.5667 10.5 15.2083 10.6417 14.925 10.925C14.6417 11.2083 14.5 11.5667 14.5 12C14.5 12.4333 14.6417 12.7917 14.925 13.075C15.2083 13.3583 15.5667 13.5 16 13.5ZM13 17C12.45 17 11.9793 16.8043 11.588 16.413C11.196 16.021 11 15.55 11 15V9C11 8.45 11.196 7.979 11.588 7.587C11.9793 7.19567 12.45 7 13 7H20C20.55 7 21.021 7.19567 21.413 7.587C21.8043 7.979 22 8.45 22 9V15C22 15.55 21.8043 16.021 21.413 16.413C21.021 16.8043 20.55 17 20 17H13ZM5 21C4.45 21 3.979 20.8043 3.587 20.413C3.19567 20.021 3 19.55 3 19V5C3 4.45 3.19567 3.979 3.587 3.587C3.979 3.19567 4.45 3 5 3H19C19.55 3 20.021 3.19567 20.413 3.587C20.8043 3.979 21 4.45 21 5H13C11.8167 5 10.8543 5.37067 10.113 6.112C9.371 6.854 9 7.81667 9 9V15C9 16.1833 9.371 17.1457 10.113 17.887C10.8543 18.629 11.8167 19 13 19H21C21 19.55 20.8043 20.021 20.413 20.413C20.021 20.8043 19.55 21 19 21H5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}


.icon-bills-primary {
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_323' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_323)'%3E%3Cpath d='M14 13C13.1667 13 12.4583 12.7083 11.875 12.125C11.2917 11.5417 11 10.8333 11 10C11 9.16667 11.2917 8.45833 11.875 7.875C12.4583 7.29167 13.1667 7 14 7C14.8333 7 15.5417 7.29167 16.125 7.875C16.7083 8.45833 17 9.16667 17 10C17 10.8333 16.7083 11.5417 16.125 12.125C15.5417 12.7083 14.8333 13 14 13ZM7 16C6.45 16 5.97933 15.804 5.588 15.412C5.196 15.0207 5 14.55 5 14V6C5 5.45 5.196 4.97933 5.588 4.588C5.97933 4.196 6.45 4 7 4H21C21.55 4 22.021 4.196 22.413 4.588C22.8043 4.97933 23 5.45 23 6V14C23 14.55 22.8043 15.0207 22.413 15.412C22.021 15.804 21.55 16 21 16H7ZM9 14H19C19 13.45 19.1957 12.979 19.587 12.587C19.979 12.1957 20.45 12 21 12V8C20.45 8 19.979 7.804 19.587 7.412C19.1957 7.02067 19 6.55 19 6H9C9 6.55 8.804 7.02067 8.412 7.412C8.02067 7.804 7.55 8 7 8V12C7.55 12 8.02067 12.1957 8.412 12.587C8.804 12.979 9 13.45 9 14ZM20 20H3C2.45 20 1.97933 19.8043 1.588 19.413C1.196 19.021 1 18.55 1 18V7H3V18H20V20Z' fill='%23FF6900'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-bills-secondary{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_126' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_126)'%3E%3Cpath d='M3 20C2.45 20 1.97933 19.8043 1.588 19.413C1.196 19.021 1 18.55 1 18V7H3V18H20V20H3ZM7 16C6.45 16 5.97933 15.804 5.588 15.412C5.196 15.0207 5 14.55 5 14V6C5 5.45 5.196 4.97933 5.588 4.588C5.97933 4.196 6.45 4 7 4H21C21.55 4 22.021 4.196 22.413 4.588C22.8043 4.97933 23 5.45 23 6V14C23 14.55 22.8043 15.0207 22.413 15.412C22.021 15.804 21.55 16 21 16H7ZM9 14C9 13.45 8.804 12.979 8.412 12.587C8.02067 12.1957 7.55 12 7 12V14H9ZM19 14H21V12C20.45 12 19.979 12.1957 19.587 12.587C19.1957 12.979 19 13.45 19 14ZM14 13C14.8333 13 15.5417 12.7083 16.125 12.125C16.7083 11.5417 17 10.8333 17 10C17 9.16667 16.7083 8.45833 16.125 7.875C15.5417 7.29167 14.8333 7 14 7C13.1667 7 12.4583 7.29167 11.875 7.875C11.2917 8.45833 11 9.16667 11 10C11 10.8333 11.2917 11.5417 11.875 12.125C12.4583 12.7083 13.1667 13 14 13ZM7 8C7.55 8 8.02067 7.804 8.412 7.412C8.804 7.02067 9 6.55 9 6H7V8ZM21 8V6H19C19 6.55 19.1957 7.02067 19.587 7.412C19.979 7.804 20.45 8 21 8Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}


/* button options */

.icon-visible{
  width: 13px;
  height: 14px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_6193' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='14'%3E%3Crect y='0.5' width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_6193)'%3E%3Cpath d='M6.50008 9.1665C7.17717 9.1665 7.75278 8.92962 8.22691 8.45584C8.70069 7.9817 8.93758 7.40609 8.93758 6.729C8.93758 6.05192 8.70069 5.47631 8.22691 5.00217C7.75278 4.52839 7.17717 4.2915 6.50008 4.2915C5.823 4.2915 5.24739 4.52839 4.77325 5.00217C4.29947 5.47631 4.06258 6.05192 4.06258 6.729C4.06258 7.40609 4.29947 7.9817 4.77325 8.45584C5.24739 8.92962 5.823 9.1665 6.50008 9.1665ZM6.50008 8.1915C6.09383 8.1915 5.74861 8.04923 5.46442 7.76467C5.17986 7.48048 5.03758 7.13525 5.03758 6.729C5.03758 6.32275 5.17986 5.97735 5.46442 5.6928C5.74861 5.4086 6.09383 5.2665 6.50008 5.2665C6.90633 5.2665 7.25173 5.4086 7.53629 5.6928C7.82048 5.97735 7.96258 6.32275 7.96258 6.729C7.96258 7.13525 7.82048 7.48048 7.53629 7.76467C7.25173 8.04923 6.90633 8.1915 6.50008 8.1915ZM6.50008 10.7915C5.18203 10.7915 3.98133 10.4235 2.898 9.68759C1.81466 8.952 1.02925 7.96581 0.541748 6.729C1.02925 5.4922 1.81466 4.50582 2.898 3.76988C3.98133 3.0343 5.18203 2.6665 6.50008 2.6665C7.81814 2.6665 9.01883 3.0343 10.1022 3.76988C11.1855 4.50582 11.9709 5.4922 12.4584 6.729C11.9709 7.96581 11.1855 8.952 10.1022 9.68759C9.01883 10.4235 7.81814 10.7915 6.50008 10.7915ZM6.50008 9.70817C7.52022 9.70817 8.45694 9.4395 9.31025 8.90217C10.1632 8.3652 10.8154 7.64081 11.2667 6.729C10.8154 5.8172 10.1632 5.09263 9.31025 4.5553C8.45694 4.01832 7.52022 3.74984 6.50008 3.74984C5.47994 3.74984 4.54322 4.01832 3.68991 4.5553C2.83697 5.09263 2.1848 5.8172 1.73341 6.729C2.1848 7.64081 2.83697 8.3652 3.68991 8.90217C4.54322 9.4395 5.47994 9.70817 6.50008 9.70817Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-deleted{
  width: 15px;
  height: 16px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3125 12.5C5.07187 12.5 4.86596 12.4022 4.69475 12.2065C4.52325 12.0105 4.4375 11.775 4.4375 11.5V5H4V4H6.1875V3.5H8.8125V4H11V5H10.5625V11.5C10.5625 11.775 10.4769 12.0105 10.3057 12.2065C10.1342 12.4022 9.92812 12.5 9.6875 12.5H5.3125ZM9.6875 5H5.3125V11.5H9.6875V5ZM6.1875 10.5H7.0625V6H6.1875V10.5ZM7.9375 10.5H8.8125V6H7.9375V10.5Z' fill='white'/%3E%3C/svg%3E");
}
.icon-edit{
  width: 13px;
  height: 14px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_6202' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='14'%3E%3Crect y='0.5' width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_6202)'%3E%3Cpath d='M2.70833 9.86312H3.46667L8.13854 5.19124L7.38021 4.43291L2.70833 9.10478V9.86312ZM10.4542 4.40583L8.15208 2.13083L8.91042 1.37249C9.11806 1.16485 9.37318 1.06104 9.67579 1.06104C9.97804 1.06104 10.233 1.16485 10.4406 1.37249L11.199 2.13083C11.4066 2.33847 11.5149 2.58908 11.524 2.88266C11.533 3.17588 11.4337 3.42631 11.226 3.63395L10.4542 4.40583ZM9.66875 5.20478L3.92708 10.9465H1.625V8.64437L7.36667 2.9027L9.66875 5.20478Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-check{
  width: 13px;
  height: 14px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_6208' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='14'%3E%3Crect y='0.5' width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_6208)'%3E%3Cpath d='M5.17295 10.2499L2.08545 7.16237L2.85732 6.39049L5.17295 8.70612L10.1427 3.73633L10.9146 4.5082L5.17295 10.2499Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-close{
  width: 13px;
  height: 14px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_6213' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='14'%3E%3Crect y='0.5' width='13' height='13' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_6213)'%3E%3Cpath d='M3.46659 10.7918L2.70825 10.0335L5.74159 7.00016L2.70825 3.96683L3.46659 3.2085L6.49992 6.24183L9.53325 3.2085L10.2916 3.96683L7.25825 7.00016L10.2916 10.0335L9.53325 10.7918L6.49992 7.7585L3.46659 10.7918Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.list-btn-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 8px;
}
.btn-options{
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  padding: 2px;
  cursor: pointer;
}
.view{
  background-color: #F9BB52;
}
.deleted{
  background-color: #74788D;;
} 
.edit{
  background-color: #50A5F1;
}
.check{
  background-color: #34C38F;
}
.close{
  background-color: #EB5769;
}

.icon-filter {
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_389' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_389)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.146 15.371 4.888 14.113C3.62933 12.8543 3 11.3167 3 9.5C3 7.68333 3.62933 6.14567 4.888 4.887C6.146 3.629 7.68333 3 9.5 3C11.3167 3 12.8543 3.629 14.113 4.887C15.371 6.14567 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8127 13.5627 12.688 12.688C13.5627 11.8127 14 10.75 14 9.5C14 8.25 13.5627 7.18733 12.688 6.312C11.8127 5.43733 10.75 5 9.5 5C8.25 5 7.18733 5.43733 6.312 6.312C5.43733 7.18733 5 8.25 5 9.5C5 10.75 5.43733 11.8127 6.312 12.688C7.18733 13.5627 8.25 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-reset{
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_507' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' transform='matrix(-1 0 0 1 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_507)'%3E%3Cpath d='M12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C10.85 4 9.75 4.23767 8.7 4.713C7.65 5.18767 6.75 5.86667 6 6.75V4H4V11H11V9H6.8C7.33333 8.06667 8.06233 7.33333 8.987 6.8C9.91233 6.26667 10.9167 6 12 6C13.6667 6 15.0833 6.58333 16.25 7.75C17.4167 8.91667 18 10.3333 18 12C18 13.6667 17.4167 15.0833 16.25 16.25C15.0833 17.4167 13.6667 18 12 18C10.7167 18 9.55833 17.6333 8.525 16.9C7.49167 16.1667 6.76667 15.2 6.35 14H4.25C4.71667 15.7667 5.66667 17.2083 7.1 18.325C8.53333 19.4417 10.1667 20 12 20Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-publish{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_590' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_590)'%3E%3Cpath d='M11 20V11.85L8.4 14.45L7 13L12 8L17 13L15.6 14.45L13 11.85V20H11ZM4 9V6C4 5.45 4.196 4.97933 4.588 4.588C4.97933 4.196 5.45 4 6 4H18C18.55 4 19.021 4.196 19.413 4.588C19.8043 4.97933 20 5.45 20 6V9H18V6H6V9H4Z' fill='%23FF6900'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-add{
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_436_483' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_436_483)'%3E%3Cpath d='M11 19V13H5V11H11V5H13V11H19V13H13V19H11Z' fill='%23FF6900'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-excel{
  width: 21px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3138 1.84619H3.24024C3.24024 1.84619 1.82617 2.19269 1.82617 3.50717V18.6353C1.82617 18.6353 1.87939 20.2731 3.32912 20.2731H11.3654L9.51759 18.447H3.67984V3.68647H10.211V8.31344H14.8902V12.9094H16.7497V7.16984L11.3138 1.84619Z' fill='%23FF6900'/%3E%3Cpath d='M8.33127 9.22998H6.50155L8.36107 12.675L6.29346 16.1378H8.08805L9.29402 14.0194L10.4462 16.1378H12.3175L10.31 12.6282L12.2701 9.22998H10.4228L9.42441 11.5366L8.33127 9.22998Z' fill='%23FF6900'/%3E%3Cpath d='M16.7497 14.7617H14.8843V18.4533H12.0977L15.8438 22.1538L19.5953 18.4475H16.7497V14.7617Z' fill='%23FF6900'/%3E%3C/svg%3E");
}